.pageContainer {
  width: 100%;
  min-height: 100vh;
  background: #FFF;
  display: flex;
  justify-content: center;
  padding: 3rem 1rem; 
  position: relative;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2.5rem;
  border-radius: none;
  box-shadow: none;
  background-color: #ffffff;
  box-shadow: none;
  width: 100%;
  max-width: 450px;
  border:none;
}

.formIcon {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.formContainer h2 {
  color: #020F59;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
}

.formContainer p {
  margin: 0;
  align-self: flex-start;
  font-size: 16px;  
  color: #6c757d;
}

.inputField {
  width: 100%;
  padding: 16px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  background-color: #f1f3f5;
  font-size: 1rem;
}

.inputField::placeholder {
  color: #868e96;
}

.submitButton {
  width: 100%;
  padding: 14px;
  background-color: #333366;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.2s ease;
}

.sumitButton:hover {
  background-color: #0056b3;
}

.loginLink {
  margin-top: 1.5rem;
  text-decoration: none;
  color: #495057;
  font-size: 1rem;
}

.loginLink a {
  color: #007bff;
  font-weight: 500;
  text-decoration: none;
}

.termsContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
  color: #6c757d;
}

.checkbox {
  width: 18px;
  height: 18px;
  border: 2px solid #333366;
  border-radius: 4px;
  accent-color: #333366; 
  cursor: pointer;
}

.termsLabel {
  line-height: 1.4;
}

.link {
  color: #333366;
  text-decoration: underline;
  font-weight: 500;
}

.link:hover {
  color: #1a1a40;
}

.usersListLink {
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
  font-size: 16px;
}

.stepIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 4px;
  margin-bottom: 20px;
}

.step {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #d9d9d9; 
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.active {
  background-color: #333366; 
}

.line {
  width: 40px;
  height: 4px;
  background-color: #d9d9d9;
  border-radius: 2px;
  margin: 0 4px;
  transition: background-color 0.3s ease;
}

.activeLine {
  background-color: #333366;
}

.stepIndicator .activeLine + .line {
  background-color: #333366;
}

.backButtonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 3rem; 
  margin-top: 2rem; 
  position: absolute; 
  top: 2rem;
  left: 2rem;
}

.backButton {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #6b7280;
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  cursor: pointer;
  background: none;
  border: none;
  transition: color 0.2s ease;
}

.backButton:hover {
  color: #020F59;
}

.arrow {
  color: #020F59; /* azul escuro igual do Figma */
  font-size: 18px;
  line-height: 1;
  margin-top: 1px;
}
